style_for_test_test.css
body{
    background-color: #EDEDED;
}

.navbar-brand, .nav-link, .dropdown-item{
	color: #eaeeee
}

#navbar {
    position: fixed;
    top: 0px;
    width: 10%;
}
.dropdown-item:hover{
    background-color: inherit;
	color:  #ffffff;
	text-decoration: underline;
}
.nav-link:hover, .nav-link:active{
    color:#ffffff;
}
.btn{
	background-color: #819b9e
}

/* THIS SECTIOn FOCUS ON PADDING OR MARGIN MEANING SHIFTING IMAGES, NAVBAR, AND OTHERS AROUND */
/* keeps navbar spacing each other */
.navbar-nav > li{
	padding-left:25px;
	padding-right:25px;
}


/* Media Queries */
@media (max-width: 900px){
.navbar-expand-lg{
	background-color: #5a7978;
}

.navbar div{
    margin: inherit;
    background-color: rgb(24, 2, 67);
}

button{
    margin-left: auto;
}
button:focus {
    outline: 1px dotted;
}
}


.description-content {
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: white;
	
}

.image-left {
    float: left;
    margin-right: 20px;  /* Adds space on the right side of the image */
}

.imageNav-content {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 30px 40px;
	color: black;
	background-color: white;
}
.description-header, .imageNav-header {
	padding-top: 15px;
	padding-left: 4px;
	color: #38554c;
	font-size: 26px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.navbar-image{
	/* put value of image height as your need */
	float: right;
	margin-right: 8px;
	width: 10%;
}

img{
	width: 100%;
	height: 100%;
}
.image-left {
	float: left;
	width: 50%;
	height: 50%;
}
p{
	color: #414D4A;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2 ;
}
.active, .img-hover:hover{
    border-color:#030611;
    border-style: solid;
}
.footer{
    border-top-width: 4px;
    color: #000000;
    min-height: 50px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	left: 0;
	bottom: 0;
    float: none;
}
